<div class="container-fluid h-100">
  <div class="row align-items-center h-100">
    <div class="col-12 col-lg-3 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="text-center mb-4">
            <img src="assets/images/gopher.png" class="img-fluid rounded-circle mb-2" width="150" />
          </div>  
    
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="from-group">
              <input type="text" formControlName="username" class="form-control form-control-lg mb-2" placeholder="Username" />
              <div *ngIf="isSubmitted && formControls.username.errors" class="invalid-feedback">
                  <div *ngIf="formControls.username.errors.required">Cannot be blank.</div>
                </div>
            </div>
            
            <div class="form-group">
              <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Password" />
            </div>
            
            <button class="btn btn-md btn-success btn-block" type="submit">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
