html
{
  overflow-y:scroll;
  height: 100%;
}

footer
{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 40px;
  background-color: #3e3f3a;
  color: #FFF;
}

.fill
{
  height: 100% !important;
  min-height: calc(100vh - 200px);
}

.text-yellow
{
  color: #FFFF00;
}

/****************************** MARGIN ******************************/

.margin-40-top
{
  margin-top: 40px;
}

.margin-40-bottom
{
  margin-bottom: 40px;
}

.margin-20-bottom
{
  margin-bottom: 20px;
}

.margin-20-top
{
  margin-top: 20px;
}

.margin-10-top
{
  margin-top: 10px;
}

/****************************** FORM ******************************/

fieldset
{
  border: 1px dashed #CCC !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
}

legend {
  width: inherit;
  padding: 0 10px;
  border-bottom: none;
}

/****************************** FLASH ******************************/

flash-message
{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999999999999999999;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
}