<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h4>Configuration</h4>
    </div>

    <div class="col-12 col-lg-4  mt-4">
      <div class="card bg-light">
        <div class="card-header">
          <h5 class="card-title">Coop</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="coopForm">
            <fieldset formGroupName="opening_condition">
              <legend>Opening</legend>
            
              <div class="form-group">
                <label>Mode</label>
                <input class="form-control" type="text" formControlName="mode" >
              </div>
              
              <div class="form-group">
                <label>Value</label>
                <input class="form-control" type="text" formControlName="value" >
              </div>
            </fieldset>

            <fieldset formGroupName="closing_condition">
              <legend>Closing</legend>
            
              <div class="form-group">
                <label>Mode</label>
                <input class="form-control" type="text" formControlName="mode" >
              </div>
              <div class="form-group">
                <label>Value</label>
                <input class="form-control" type="text" formControlName="value" >
              </div>
            </fieldset>

            <p class="text-center mt-3">
              <button class="btn btn-warning" (click)="onSubmit()">Update</button>
            </p>
          </form>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-lg-4  mt-4">
      <div class="card bg-light">
        <div class="card-header">
          <h5 class="card-title">Status</h5>
        </div>
        <div class="card-body">
          <p class="text-center">
            <button class="btn btn-success mr-2" (click)="setOpened()">Set as opened</button>
            <button class="btn btn-danger" (click)="setClosed()">Set as closed</button>
          </p>
          <p class="text-center text-danger">*Be careful with this.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 mt-4">
      <div class="card bg-light">
        <div class="card-header">
          <h5 class="card-title">Automatic mode</h5>
        </div>
        <div class="card-body">
          <p class="text-center">
            <button class="btn btn-success mr-2" (click)="enableAutomaticMode()" [disabled]="coop.is_automatic">Enable</button>
            <button class="btn btn-danger" (click)="disableAutomaticMode()" [disabled]="!coop.is_automatic">Disable</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>